/* stylesheet by www.anupammondal.in */

#social-icon-links span.i-24 a svg {
    width: 24px;
    height: 24px;
}

#social-icon-links span.i-30 a svg {
    width: 30px;
    height: 30px;
}

#social-icon-links span.i-36 a svg {
    width: 36px;
    height: 36px;
}

#social-icon-links span.i-42 a svg {
    width: 42px;
    height: 42px;
}

#social-icon-links span.i-48 a svg {
    width: 48px;
    height: 48px;
}

#social-icon-links span.i-60 a svg {
    width: 60px;
    height: 60px;
}

.txt-left {
    text-align: left;
}

.txt-center {
    text-align: center;
}

.txt-right {
    text-align: right;
}

#social-icon-links span a {
    color: blue;
    text-decoration: none;
    display: inline-block;
}

#social-icon-links span,
#social-icon-links span a {
    display: inline-block;
}

#social-icon-links span a svg {
    margin: 5px;
}